.users-list-container {
    padding: 20px;
  }
  
  .users-list-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .users-list {
    list-style: none;
    padding: 0;
  }
  
  .user-item {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .user-details {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  